[submodule "rggen-sv-rtl"]
	path = rggen-sv-rtl
	url = https://github.com/rggen/rggen-sv-rtl
[submodule "rggen-verilog-rtl"]
	path = rggen-verilog-rtl
	url = https://github.com/rggen/rggen-verilog-rtl.git
